<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Radius Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/jqueryui/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/charisma-app.css" rel="stylesheet">
	<!--  
	<link href='/static/css/fullcalendar.css' rel='stylesheet'>
	<link href='/static/css/fullcalendar.print.css' rel='stylesheet'  media='print'>
	<link href='/static/css/chosen.css' rel='stylesheet'>
	<link href='/static/css/uniform.default.css' rel='stylesheet'>
	<link href='/static/css/colorbox.css' rel='stylesheet'>
	<link href='/static/css/jquery.cleditor.css' rel='stylesheet'>
	<link href='/static/css/jquery.noty.css' rel='stylesheet'>
	<link href='/static/css/noty_theme_default.css' rel='stylesheet'>
	<link href='/static/css/elfinder.min.css' rel='stylesheet'>
	<link href='/static/css/elfinder.theme.css' rel='stylesheet'>
	<link href='/static/css/jquery.iphone.toggle.css' rel='stylesheet'>
	<link href='/static/css/opa-icons.css' rel='stylesheet'>
	<link href='/static/css/uploadify.css' rel='stylesheet'>    
	-->
    <!--[if lte IE 6]> 
    <script src="/static/js/letskillie6.zh_CN.pack.js"></script>
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/lib/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/icon/favicon.png">
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
		
			<div class="row-fluid">
				<div class="span12 center login-header">
					<h2>ToughRadius 管理系统</h2>
				</div><!--/span-->
			</div><!--/row-->
			
			<div class="row-fluid">
				<div class="well span5 center login-box">
					<div class="alert alert-info">
						请输入管理员用户名和密码登陆
					</div>
					<form class="form-horizontal" action="/login" method="post">
						<fieldset>
							<div class="input-prepend" title="Username" data-rel="tooltip">
								<span class="add-on"><i class="icon-user"></i></span><input autofocus class="input-large span10" name="loginName" id="loginName" type="text" value="admin" />
							</div>
							<div class="clearfix"></div>
		
							<div class="input-prepend" title="Password" data-rel="tooltip">
								<span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" name="password" id="password" type="password"  />
							</div>
							<div class="clearfix"></div>
		
							<p class="center span5">
							<button type="submit" class="btn btn-primary">Login</button>
							</p>
						</fieldset>
					</form>
					
					<#if error??>
					<div class="alert alert-error">${error}</div>
					</#if>
					<div class="clearfix"></div>
		           <small class="text-info">
		           <p> <a href="https://github.com/jamiesun">jamiesun</a> maintains <a href="https://github.com/jamiesun/ToughRadius">ThougRadius</a></p>
		           </small>
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/fluid-row-->
		
	</div><!--/.fluid-container-->

	<!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.1.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/charisma.js"></script>
</body>
</html>
