<!DOCTYPE html>
<html lang="zh-CN">
  <head>
   <#include "/header.html" parse=true>
  </head>
  <body>
  <#include "/nav.html" parse=true>
	<div class="main-box">
		<div class="container">
		    <div class="row">
               <#include "/menu.html" parse=true>
				<div class="span9">
					<ul class="breadcrumb">
						<li><b>修改密码</b></li>
					</ul>
					<#if alert??>
					<div class="alert">${alert}</div>
					</#if>

					<form class="form-horizontal" action="/password" method="post">
						<div class="control-group">
							<label class="control-label" for="oldpass">旧密码</label>
							<div class="controls">
								<input type="password" id="oldpass" name="oldpass"  placeholder="请输入旧密码" required="required">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="newpass1">新密码</label>
							<div class="controls">
								<input type="password" id="newpass1" name="newpass1"  placeholder="请输入新密码" required="required">
							</div>
						</div>		
						<div class="control-group">
							<label class="control-label" for="newpass2">确认新密码</label>
							<div class="controls">
								<input type="password" id="newpass2" name="newpass2" placeholder="请确认新密码" required="required">
							</div>
						</div>																		
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">提交</button>
								<button type="button" class="btn" onclick="javascript:history.go(-1);">返回</button>
							</div>
						</div>
					</form>					
				</div>
			</div>
		</div>
    </div > <!-- /container -->
  <#include "/footer.html" parse=true>
  </body>
</html>
